<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href= "/public/stylesheets/style-login.css" rel="stylesheet" type="text/css"/>
        <title>about</title>   
    
        

        <!-- background image -->
        <div class="background"></div>

        <!-- Nav bars -->
        <div class=nav1>
            <a class href="home">Interior Stills</a>
        </div>

        <div class=nav2>
            <a class href="login">Photographer Portal</a>
            <a class href="profiles">Search</a>
        </div>

        <style>
            body {
                background-image: url('images/generic_1.jpg');
            }
            p, h4 {
                background:rgba(255, 242, 226, 0.7);
                margin: 60px 10px;
                padding: 30px;
            }
            
        </style>


    </head>

    <body>

        <div class="about container">
            <h4>ABOUT</h4>

            <p>
            Interior Stills is a platform for interior photographers and designers to connect. 
            Photographers are invited to create an account to host their portfolio. Designers 
            can search for the appropriate photographer for their project.
            </p>
        </div>



    </body>
</html>