<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <title>about</title>
</head>
<body>
   
    <style>
        body {
            background-image: url('images/interiorbackground.jpg');
        }
    </style>

    <!-- Nav bars -->
<div class="home">
    <a class href="home">Interior Stills</a>
    </div>
    
    <div class="topnav">
    <a class href="login">Photographers Login</a>
    </div>

    <div class="topnav">
        <a class href="profiles">Search Photographers</a>
    </div>


<div>
    <p1>about page</p1>
</div>

</body>
</html>