<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href= "/public/stylesheets/style-login.css" rel="stylesheet" type="text/css"/>
        <title>about</title>   
    
<!-- Nav bars -->
    <div class=nav1>
        <a class href="home">Interior Stills</a>
    </div>

    <div class=nav2>
        <a class href="login">Photographer Portal</a>
        <a class href="profiles">Search</a>
    </div>

    <style>
        body {
        background-color:blanchedalmond;              
        }
        h3, p {
            text-align: center;
            max-width: 700px;
            margin: 0 auto;
            padding: 50px;
        }
    </style>

  </head>

  <body>

    <div class="about-container">
        <h3>ABOUT</h3>

        <p>
        Interior Stills is a platform for interior photographers and designers to connect. 
        Photographers are invited to create an account to host their portfolio. 
        Designers can search for the appropriate photographer for their project.
        </p>
    </div>

  </body>
</html>