<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <title>home</title>
</head>
<body>
    
    <style>
        body {
            background-image: url('images/interiorbackground.jpg');
        }
    </style>

<!-- Nav bars -->
<div class="home">
    <a class href="home">Interior Stills</a>
</div>

<div class="topnav">
    <a class href="login">Photographers Login</a>
</div>

<div class="about">
    <a class href="about">About</a>
</div>
        
<!-- Click to search for Interior Photographers -->
<div class="profiles">
    <a class href="profiles">Find an Interior Photographer</a>
</div>
    
        


        
    

<!-- capture input data from a home page. -->
<!-- <div>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="id">id</label>
            <input type="text" name="id">
        </div>
        <div class="form-group">
            <label for="first_name">first_name</label>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div> -->

<!-- <div class="container">
    <h2>Log in to Photographers Profile</h2>
    
    <form action="/dashboard" method="POST">
      <div class="form-group mb-3">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="example@email.com" name="email">
      </div>
      <div class="form-group mb-3">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="********" name="password">
        </div>
      <div class="d-grid mt-3">
      <button type="submit" class="btn btn-primary form-control">Login</button>
      </div>
    </form>
    <a href="register.ejs">Register</a>
  </div> -->
    
</body>
</html>