<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interior Stills</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<body>
    <header>
        <h1>Interior Stills</h1>
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href=groupProfile>Find a Photographer</a></li>
                <li><a href=login>Photographers Login</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>  
            </ul>
        </nav>
        
    </header>
    
      
    

    <footer>
        <p>&copy; 2023 Interior Stills</p>
    </footer>
</body>
</html>