<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <title>home</title>

    <style>
        body {
            background-image: url('images/interiorbackground.jpg');
        }
    </style>

    <div class=nav1>
        <a class href="home">Interior Stills</a>
    </div>

    <div class=nav2>
        <a class href="login">Photographers Portal</a>
        <a class href="about">About</a>
    </div>
</head>

<body>

<div class=profiles>
    <a class href="profiles">Find an Interior Photographer</a>
</div>
    
</body>
</html>