<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8"> <!-- Login and register form with Node.js, Express.js and MySQL -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Metadata tag - Width & Zoom level of the following code for the page -->
    <link href= "/public/stylesheets/style_Register_Login_forms.css" rel="stylesheet" type="text/css"/>
    <title>Portal</title>
    <style>
      body {
          background-image: url('images/interiorbackground.jpg');
      }
  </style>
  
  <!-- NAV BARS -->
    <div class=nav1>
        <a class href="home">Interior Stills</a>
    </div>
  
    <div class=nav2>
        <a class href="about">About</a>    
        <a class href="Register">Register</a>
        <a class href="profiles">Search</a>
    </div>
</head>
  
<body>  
      
</body>
</html>