<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/stylesheets/style-profiles.css" rel="stylesheet" type="text/css"/>
    <title>Search</title>
    
  <!-- NAV BARS -->
  <div class=nav1>
    <a class href="home">Interior Stills</a>
  </div>

  <div class=nav2>
    <a class href="about">About</a>
    <a class href="login">Photographer Portal</a>
  </div>

</head>

<body>

  <!-- FILTER CATEGORIES -->
  <div class="main">
  <h2>LISTED PHOTOGRAPHERS</h2>

    <div id="myBtnContainer" class="button-columns">
      <button class="btn" data-filter="all"> All categories</button>
      <button class="btn" data-filter="residential"> Residential</button>
      <button class="btn" data-filter="retail"> Retail</button>
      <button class="btn" data-filter="hospitality"> Hospitality</button>
    </div>
    
    <!-- LISTED PHOTOGRAPERS -->
    <div class="row">
      
      <!-- <div class="column residential"> -->
      <div class="column residential">
        <div class="content">
          <a href="/photographerAll"> 
            <img src="/images/residential_12.jpg" alt="Interior_image" style="width:100%">
            <h4> Sara Hewson </h4>
          </a>
        </div>
      </div>
    

      
      <div class="column residential">
        <div class="content">
          <a href="/photographerAll">
          <img src="/images/residential_11.jpg" alt="Interior_image" style="width:100%">
          <h4> Hamish Morgan </h4>
          </a>
        </div>
      </div>
     
    
      <div class="column hospitality">
        <div class="content">
          <a href="/photographerAll">
          <img src="/images/hospitality_4.jpg" alt="Interior_image" style="width:100%">
          <h4>Richard Hewson</h4>
          </a>
        </div>
      </div>


      <div class="column retail">
        <div class="content">
          <a href="/photographerAll">
          <img src="/images/retail_4.jpg" alt="Interior_image" style="width:100%">
          <h4>Mary Lamb</h4>
          </a>
        </div>
      </div>

      <!-- no photography category -->
      <div class="column no-category">
        <div class="content">
          <a href="/photographerAll">
          <img src="/images/no-category_4.jpg" alt="Interior_image" style="width:100%">
          <h4>Jane Pickles</h4>
          </a>
        </div>
      </div>
     <!--END DIV CLASS "MAIN"  -->
    </div>
    

  

<!-- CATEGORY FILTERING SCRIPT -->
<script>
  filterSelection("all");
  
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("column");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      if (x[i].className.indexOf(c) > -1 || c === "") {
        x[i].classList.add("show");
      } else {
        x[i].classList.remove("show");
      }
    }
  }
  
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].classList.remove("active");
      }
      this.classList.add("active");
      filterSelection(this.getAttribute("data-filter"));
    });
  }
</script>


</body>
</html>