<!DOCTYPE html>
<html lang="en">
  
  <head>
      <title>Register</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href= "/public/stylesheets/style-login.css" rel="stylesheet" type="text/css"/>
      
      <title>Register</title>
      
      <style>
        body {
            background-image: url('images/interiorbackground.jpg');
        }
      </style>
    

    <!-- NAV BARS -->
      <div class=nav1>
        <a class href="home">Interior Stills</a>
      </div>

      <div class=nav2>
        <a class href="about">About</a>
        <a class href="login">Photographer Portal</a>
        <a class href="profiles">Search</a>
      </div>

  </head>
  
  <body>

    <div class="login container">
    <!-- REGISTER FORM -->   
      <form action="/register" method="POST" class="login-form">
        
        <h3>Create an account</h3> 

        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" placeholder="John" name="first_name" id="first_name">
        </div>
        
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" placeholder="Doe" name="last_name" id="last_name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" placeholder="John@doe.com" name="email" id="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="****" name="password" id="password">
        </div>

        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" placeholder="****" name="passwordConfirm" id="password">
        </div>
        
        <button type="submit">Register</button>

          <% if (message) { %>
            <h3 class="alert alert-danger"><%= message %></h3>
          <% } %>

        <h5>Already registered? Login <a href="login">here.</a></h5>

      </form>
    </div>
      
  </body>
</html>


