.nav1 a {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(72, 44, 25);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight:500;
}
.nav1, a:hover {
  color: rgb(55, 31, 14);
}

.nav2 a {
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(72, 44, 25);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight:500;
}
.nav2 a:hover {
  color: rgb(55, 31, 14);
}

/* HOME PAGE MAIN LINK */
.profiles a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(72, 44, 25);
  float: right;
  text-align: right;
  padding: 30px 30px 5px 30px;
  text-decoration: none;
  font-size: 100px;
  font-weight: bold;
}
.profiles a:hover {
  color: rgb(55, 31, 14);
}



/* PROFILES PAGE */
body, h1,h2,h3,h4,h5,h6 {
  color: rgb(55, 31, 14);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}









